<div>
  <div>
    <div>
      <h2>商品新規登録</h2>
    </div>
  </div>
  <div>
    <div>
      <!--商品追加-->
      <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
      <table>
        <tr>
          <div class="form_group">
            <th><%= f.label :商品画像 %></th>
            <td><%= f.file_field :imag, accept: "image/*" %></td>
          </div>
        </tr>
        <tr>
          <div class="form_group">
            <th><%= f.label :商品名 %></th>
            <td><%= f.text_field :name, placeholder: "商品名" %></td>
          </div>
        </tr>
        <tr>
          <div class="form_group">
            <th><%= f.label :商品説明 %></th>
            <td><%= f.text_area :introduction, placeholder: "ここに説明文を記述します" %></td>
          </div>
        </tr>
        <tr>
          <div class="form_group">
            <th><%= f.label :ジャンル %></th>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %></td>
          </div>
        </tr>
        <tr>
          <div class="form_group">
            <th><%= f.label :税抜き価格 %></th>
            <td><%= f.text_field :price, placeholder: "1000" %>円</td>
          </div>
        </tr>
        <tr>
          <div>
            <th><%= f.submit "新規登録" %></th>
          </div>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>


