<div class= "container">
  <div>
    <div>
      <h2 class= "mt-5 mb-3">注文履歴一覧</h2>
    </div>
  </div>
  <div"row justify-content-center">
    <div>
      <table class= "table">
        <thead>
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
          </tr>
        </thead>
        <tbody>
          <!--顧客の一覧表示-->
          <% @orders.each do |order| %>
          <tr>
            <td>
            <!--注文履歴詳細へのリンク-->
              <%= link_to admin_order_path(order) do %>
                <!--購入日時-->
                <%= order.created_at.strftime('%Y/%m/%d') %>
              <% end %>
            </td>
            <!--購入者-->
            <td>
              <%= order.customer.last_name %>
              <%= order.customer.first_name %>
            </td>
            <!--注文個数-->
            <td>
              <!--0を代入し注文ごとに個数を初期化-->
              <% @total_amount = 0 %>
              <% order.order_details.each do |order_detail| %>
                <% @total_amount += order_detail.amount %>
              <% end %>
              <%= @total_amount %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @orders %>
    </div>
  </div>
</div>


































