<div>
  <h2>配送先編集</h2>
  <div>
    <!--更新メソッド-->
    <%= form_with model: @address_found, url: address_path, method: :patch do |f| %>
    <div>
      <div>
        <%= f.label :"郵便番号" %>
        <%= f.text_field :postal_code %>
      </div>
      <div>
        <%= f.label :"住所" %>
        <%= f.text_field :address%> 
      </div>
      <div>
        <%= f.label :"宛名" %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.submit "変更内容を保存" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
