<% if @address.errors.any? %>
  <div>
    <h2>エラーメッセージ:</h2>
    <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div>
  <div>
    <div>
      <h2>配送先登録/一覧</h2>
    </div>
  </div>
  <!--配送先登録-->
  <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
    <div>
      <div class="form-group">
        <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
        <%= f.text_field :postal_code, placeholder: "0000000" %>
      </div>
      <div class="form-group">
        <%= f.label :address, "住所" %>
        <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
      </div>
      <div class="form-group">
        <%= f.label :name, "宛名" %>
        <%= f.text_field :name, placeholder: "令和道子" %>
        <%= f.submit "新規登録" %>
      </div>
    </div>
  <% end %>
  <div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!--登録した配送先を表示-->
          <% @addresses.each do |address| %>
            <tr>
              <td><%= address.postal_code %></td>
              <td><%= address.address %></td>
              <td><%= address.name %></td>
              <td><%= link_to "編集する", edit_address_path(address.id) %></td>
              <td><%= link_to "削除する", address_path(address), method: :delete %></td>
            </tr>
          <% end %>  
        </tbody>
      </table>
    </div>
  </div>
</div>










