<div class= "container">
  <div class= "row">
    <div class= "col-12 text-center">
      <h3><%= flash[:alert] %></h3>
    </div>
  </div>
  <div class="row">
    <div class= "col-5 text-center">
      <h3 class="col-8 mt-4 mb-2 bg-secondary">新規会員登録</h3>
    </div>
  </div>  
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <div class= "row">
      　<div class= "col">
          <table class= "table table-borderless">
            <tr>
              <th><%= f.label "お名前" %></th>
              <th>
                <%= f.label "(性)", class: "form-label mr-3" %>
                <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "令和", class: "form-field mr-5" %>
                <%= f.label "(名)", class: "form-label mr-3" %>
                <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "道子" %>
              </th>
            </tr>
            <tr>
              <th><%= f.label "フリガナ" %></th>
              <th>
                <%= f.label "(セイ)" %>
                <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "レイワ", class: "form-field mr-5" %>
                <%= f.label "(メイ)" %>
                <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "ミチコ" %>
              </th>
            </tr>
            <tr>
              <th><%= f.label "メールアドレス" %></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-field ml-5" %></td>
            </tr>
            <tr>
              <th><%= f.label "郵便番号(ハイフンなし)" %></th>
              <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "0000000", class: "form-field ml-5" %></td>
            </tr>
            <tr>
              <th><%= f.label "住所" %></th>
              <td><%= f.text_field :address, size: "60x5", autofocus: true, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0", class: "form-field ml-5" %></td>
            </tr>
            <tr>
              <th><%= f.label "電話番号(ハイフンなし)" %></th>
              <td><%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", placeholder: "0000000000", class: "form-field ml-5" %></td>
            </tr>
            <tr>
              <th>
                <% if @minimum_password_length %>
                  <%= f.label "パスワード(#{@minimum_password_length}文字以上)" %>
                <% end %>
              </th>
              <td><%= f.password_field :password, autocomplete: "new-password", class: "form-field ml-5" %></td>
            </tr>
          
            <tr>
              <th><%= f.label "パスワード(確認用)" %></th>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-field ml-5" %></td>
            </tr>
            <tr>
              <th></th>
              <td><%= f.submit "新規登録", class: "btn btn-success ml-5 mx-4 px-4" %></td>
            </tr>
          </table>
        </div>
      </div>
    <% end %>
    <div class ="col-5 text-center">
      <h3 class="col-8 mt-4 mb-3 bg-secondary">既に登録済みの方</h3> 
      <p><a href="/customers/sign_in">こちら</a>  からログインしてください。</p>
    </div>
    
</div>










