<div class= "container">
  <div class= "row">
    <div class= "col-12">
      <h3 class= "text-center w-25 mt-4 mb-2 bg-secondary">注文情報確認</h3>
    </div>
  </div>
  <div class= "row">
    <div class= "col-9">
      <table class="table table-hover table-bordered">
        <thead class= "thead-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
           </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <!--商品画像-->
                <%= image_tag cart_item.item.image, :size => '60x40' if cart_item.item.image.present? %>
                <!--商品名-->
                <%= cart_item.item.name %>
              </td>
              <!--単価(税込み価格)-->
              <td><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
              <!--アイテム数量-->
              <td><%= cart_item.amount %></td>
                <!--小計-->
              <td><%= cart_item.subtotal.to_s(:delimited) %></td>
            </tr>
            <!--アイテムごとに合計金額に加算-->
            <% @total +=cart_item.subtotal %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class= "offset-1"></div>
    <div class= "col-2">
      <div>
        <table class="table table-hover table-bordered">
          <!--送料=800円-->
          <% @order.postage = 800 %>
          <tr>
            <th bgcolor= "#f5f5f5">送料</th>
            <td><%= @order.postage.to_s(:delimited) %></td>
          </tr>
          <tr>
            <th bgcolor= "#f5f5f5">商品合計</th>
            <td><%= @total.to_s(:delimited) %></td>
          </tr>
          <tr>
            <!--請求金額を算出する-->
            <% @order.billing_amount = @order.postage + @total.to_i %>
            <th bgcolor= "#f5f5f5">請求金額</th>
            <td><%= @order.billing_amount.to_s(:delimited) %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class= "row">
    <div class= "col mt-3 mb-5 mr-3">
      <b>支払方法</b>
      <!--enumを日本語で呼び出す-->
      <%= @order.payment_method_i18n %>
    </div>
  </div>
  <div class= "row">
    <div class= "col mr-3">
      <b>お届け先</b>
      <%= @order.postal_code %>
      <%= @order.address %>
      <%= @order.name %>
    </div>
  </div>
  <div class= "row text-center">
    <div class= "col">
      <%= form_with model: @order, url: orders_path, method: :post do |f| %>
        <%= f.hidden_field :customer_id %>
        <%= f.hidden_field :postage %>
        <%= f.hidden_field :billing_amount %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :postal_code %>
        <%= f.submit "注文を確定する", class: "btn btn-success mt-5" %>
      <% end %>
    </div>
  </div>
</div>






















