<div class= "container-fluid">
  <div class= "row justify-content-start">
    <div class= "offset-2"></div>
    <div class= "col-2 ml-5">
      <h3 class= "text-center mt-4 mb-2 bg-secondary">注文情報入力</h3>
    </div>
  </div>
  <div class= "row">
    <div class= "offset-1"></div>
    <div class= "col-11">
      <!--注文情報入力-->
      <%= form_with model: @order_new, url: confirm_path, method: :post do |f| %>
        <div class= "ml-5 mb-3">
          <h5><b>支払方法</b></h5>
          <div class= "ml-3">
            <%= f.radio_button :payment_method, "credit_card" %>
            <%= f.label :payment_method, "クレジットカード" %>
          </div>
          <div class= "ml-3">
            <%= f.radio_button :payment_method, "transfer" %>
            <%= f.label :payment_method, "銀行振込" %>
          </div>
        </div>
        <div class= "ml-5 mb-3">
          <h5><b>お届け先</b></h5>
          <div class= "ml-3">
            <!--ログインしている会員の住所-->
            <%= f.radio_button :select_address, "current_address" %>
            <%= f.label :select_address, "ご自身の住所" %>
          </div>
          <div class= "ml-5">
            〒<%= current_customer.postal_code %>
            <%= current_customer.address %><br>
            <%= current_customer.full_name %>
          </div>
          <div class= "ml-3 mt-3">
            <%= f.radio_button :select_address, "registered_address" %>
            <%= f.label :select_address, "登録済み住所から選択" %>
          </div>
          <div class= "ml-5">
            <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
          </div>
          <div class= "ml-3 mt-3">
            <%= f.radio_button :select_address, "new_address" %>
            <%= f.label :select_address, "新しいお届け先" %>
          </div>
          <div class= "ml-5">
            <table>
              <tr>
                <td>郵便番号(ハイフンなし)</td>
                <td><%= f.text_field :postal_code, placeholder: "0000000" %></td>
              </tr>
              <tr>
                <td>住所</td>
                <td><%= f.text_field :address, size: "50x5", placeholder: "東京都渋谷区代々木神園町0-0",class: "mt-2" %></td>
              </tr>
              <tr>
                <td>宛名</td>
                <td><%= f.text_field :name, placeholder: "令和道子",class: "mt-2" %></td>
              </tr>
              <tr>
                <td></td>
                <td><%= f.submit "確認画面へ進む", class:"btn btn-primary col-xs-5 mt-5 ml-5" %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
























