<div class= "container-fluid">
  <div class="row justify-content-start">
    <div class= "offset-1"></div>
    <div class= "col-2 ml-5 mb-4">
      <h3 class="text-center mt-4 mb-2 bg-secondary">注文履歴詳細</h3>
    </div>
  </div>
  <div class= "row">
    <div class= "col-6 mb-5">
      <b>注文情報</b>
      <table class="table table-hover table-bordered">
        <tbody>
          <tr>
            <td bgcolor= "#f5f5f5">注文日</td>
            <td><%= @order_found.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td bgcolor= "#f5f5f5">配送先</td>
            <td>
              <!--郵便番号-->
              <%= @order_found.postal_code %><br>
              <!--住所-->
              <%= @order_found.address %><br>
              <!--名前-->
              <%= @order_found.name %>
            </td>
          </tr>
          <tr>
            <td bgcolor= "#f5f5f5">支払方法</td>
            <td><%= @order_found.payment_method_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class= "col-2">
      <b>請求情報</b>
      <table class="table table-hover table-bordered">
        <tbody>
          <tr>
            <td bgcolor= "#f5f5f5">商品合計</td>
            <td><%= @order_found.total_price.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <td bgcolor= "#f5f5f5">配送料</td>
            <td><%= @order_found.postage %>円</td>
          </tr>
          <tr>
            <th bgcolor= "#f5f5f5">ご請求金額</th>
            
            <td><%= @order_found.billing_amount = @order_found.postage + @order_found.total_price.to_i %>円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    
  <div class= "row">
    <div class="col-7">
      <b>注文内容</b>
      <table  class="table table-hover table-bordered">
        <thead class= "thead-light">
          <tr>
            <th style="width: 350px">商品</th>
            <th style="width: 150px">単価(税込)</th>
            <th style="width: 100px">個数</th>
            <th style="width: 100px">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
           <tr>
             <!--商品名-->
             <td><%= order_detail.item.name %></td>
             <!--単価(税込み)-->
             <td><%= order_detail.item.with_tax_price.to_s(:delimited) %>円</td>
             <!--個数-->
             <td><%= order_detail.amount %></td>
             <!--小計-->
             <td><%= order_detail.subtotal.to_s(:delimited) %>円</td>
           </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


















