<div>
  <div>
    <div>
      <h2>ログイン</h2>
    </div>
  </div>
  <div>
    <div>
     <h3>会員の方はこちらからログイン</h3> 
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <div><%= f.label "メールアドレス" %></div>
      <div><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></div>
    </div>
  
    <div class="field">
      <di><%= f.label "パスワード" %></di>
      <div><%= f.password_field :password, autocomplete: "current-password" %></div>
    </div>
  
    <div class="actions">
      <div><%= f.submit "ログイン" %></div>
    </div>
  <% end %>
  
  <%= render "public/shared/links" %>
</div>
