<div class= "container">
  <div class= "row align-items-center mt-5">
    <div class= "col-5 text-left mb-5">
      <%= image_tag @item_found.image, :size => '300x250' if @item_found.image.present? %>
    </div>
    <div class= "col-7 mb-5">
      <div class= "mb-2">
        <h4><b><%= @item_found.name %></b></h4>
      </div>
      <div class= "mb-5">
        <%= @item_found.introduction %>
      </div>
      <div class= "mb-4">
        <span class="lead"><b>￥<%= @item_found.with_tax_price.to_s(:delimited) %></b></span>(税込)
      </div>
      <div>
        <!--カートに商品追加-->
        <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
          
          <%= f.hidden_field :item_id, value: @item_found.id %>
          <%= f.select :amount, *[1..10].to_a, include_blank: "個数選択" %>
          <%= f.submit "カートに入れる", class: "btn btn-success ml-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>














